body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* swiper */
.swiper {
  width: 100%;
  max-height: 80vh;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  opacity: 0.5;
  color: black;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background: black;
}
